<footer>
  <div class="row max align-bottom">
    <div class="columns">
      Copyright 2017, Steak Network. All rights reserved. Legal language goes here&trade;. Steak vector via FreePik.
      <br />
      Click the steak token image in the ICS section for some fun.
    </div>
  </div>
</footer>
