<footer>
  <div class="row max align-bottom">
    <div class="columns">
      Copyright 2017, Steak Network. All rights reserved. More impressive legal language goes here&trade;. Steak vector via FreePik.
    </div>
  </div>
</footer>
