<h3>Give us your email and we'll send you more comedy + tech projects as they happen.</h3>
<div id="mc_embed_signup">
    <form action="https://mat.us10.list-manage.com/subscribe/post?u=66e348196036448da50713e39&amp;id=7b20cc8f57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" placeholder="you@example.com" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_66e348196036448da50713e39_7b20cc8f57" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>
